.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 300px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: var(--input-contact);
  color: var(--text-light);
  transition: .3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus, input:hover {
  outline: none;
  border-color: var(--color-primary);
  background-color: var(--input-contact);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}





