.navigationContent {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgb(226, 225, 225);
  width: 20%;
  max-width: 260px;
  min-width: 180px;
  height: 100%;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding-top: 80px;
  height: 90%;
}

.nav-item {
  width: 100%;
  height: 40px;
}

.nav-item a {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-left: 40px;
  text-decoration: none;
  font-weight: 500;
  color: black;
  box-sizing: border-box;
}

.nav-item:hover {
  background-color: coral;
}

.active {
  background-color: coral;
  border: 1px solid chocolate;
}

.mobileMenu {
  display: none;
  flex-direction: column;
  background-color: rgb(226, 225, 225);
  position: fixed;
  width: 100%;
  height: 250px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
}

.mobileMenu a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.mobileMenu.open {
  display: flex;
}

.mobileMenu.close{
  display: none;
}

#menuButton {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: fixed;
  right: 30px;
  z-index: 101;
  top: 15px;
}

#menuButton.active{
  color: black;
}

@media (max-width: 720px) {

  .navigationContent{
      display: none;
    }

  #content {
    display: none;
  }

  #menuButton {
    display: block;
  }

  .mobileMenu a {
    display: block;
  }

}

@media (min-width: 721px) {

  .mobileMenu {
    display: none !important;
  }

}
