.navigationContent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(226, 225, 225);
  width: 20% !important;
  max-width: 260px;
  min-width: 180px;
  text-align: start;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.40);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  transform: translateY(-50%);
  min-width: 180px;
}

#content a {
  display: flex;
  text-decoration: none;
  color: black;
  font-weight: 500;
  height: 40px;
  width: 85%;
  align-items: center;
  margin-left: 40px;
  min-width: 180px;
}

#home:hover{
  background-color: coral;
}

#about:hover{
  background-color: coral;
}

#contact:hover{
  background-color: coral;
}

#menuButton {
  display: none;
  font-size: 30px;
  background: black;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 30px;
  z-index: 20;
  top: 10px;
}

#mobileMenu {
  display: none;
  flex-direction: column;
  background-color: rgb(226, 225, 225);
  position: absolute;
  top: 64px;
  right: 0;
  width: 100%;
  padding: 20px;
  gap: 15px;
  align-items: center;
  z-index: 15;
  transition: all 0.3s ease-in-out;
}

#mobileMenu a {
  margin-top: 10px;
  display: none;
  text-decoration: none;
  color: black;
}

#mobileMenu.open {
  display: flex;
}

#mobileMenu.close{
  display: none;
}

@media (max-width: 720px) {

  .navigationContent{
      display: none;
    }

  #content {
    display: none;
  }

  #menuButton {
    display: block;
  }

  #mobileMenu a {
    display: block;
  }

}

@media (min-width: 721px) {

  #mobileMenu {
    display: none !important;
  }

}
