<body class="navigationContent">
  <nav id="content" [class.hidden]="isMenuOpen">
    <div id="contact"><a routerLink="/newsat" (click)="closeMenu()">New SAT</a></div>
    <div id="home"><a routerLink="/home" (click)="closeMenu()">Home</a></div>
    <div id="about"><a routerLink="/about" (click)="closeMenu()">About</a></div>
    <div id="contact"><a routerLink="/contact" (click)="closeMenu()">Contact</a></div>
  </nav>
</body>

<button id="menuButton" (click)="toggleMenu()">☰</button>

<div id="mobileMenu" [class.open]="isMenuOpen">
  <a routerLink="/home" (click)="closeMenu()">Home</a>
  <a routerLink="/about" (click)="closeMenu()">About</a>
  <a routerLink="/contact" (click)="closeMenu()">Contact</a>
</div>
