.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  height: 90%;
  transition: var(--transition-normal);
  margin-left: 18%;
}

#formulario {
  display: flex;
  flex-direction: column;
  border: var(--border-medium);
  border-radius: var(--radius-lg);
  width: var(--w-1-2);
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: var(--transition-normal);
  background-color: var(--background-contact);
}

#content {
  background-color: var(--background-contact);
  justify-content: center;
  color: var(--text-color);
  width: var(--w-content);
  transition: var(--transition-normal);
}

#input {
  border-radius: var(--radius-md);
  width: 100%;
  height: 30px;
  border: var(--border-medium);
  background-color: var(--input-contact);
  color: var(--text-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--input-contact) inset !important;
  -webkit-text-fill-color: var(--text-light) !important;
  transition: background-color 5000s ease-in-out 0s;
}

#textArea {
  border-radius: var(--radius-md);
  width: 100%;
  height: 100px;
  border: var(--border-medium);
  background-color: var(--input-contact);
  color: var(--text-color);
}

#documents{
  display: flex;
}

#documents p{
  margin-left: 15px;
  margin-top: 55px;
  height: 20px;
}

#nameFiles{
  margin-top: -0px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid var(--color-danger);
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
  border: 2px solid var(--color-success);
}

.error-message p {
  color: var(--color-danger);
  font-size: 12px;
  margin: 8px 0 2px 4px;
}

#buttonBackTheHome {
  color: var(--color-primary);
  height: 30px;
  width: 80px;
  text-align: center;
  transition: var(--transition-fast);
  position: absolute;
  top: 80px;
  left: 60px;
}

#buttonBackTheHome:hover {
  background-color: var(--color-primary-dark-hover);
  cursor: pointer;
  border-radius: var(--radius-full);
  width: 90px;
  height: 30px;
}

#buttonCreateCard {
  background-color: var(--color-primary);
  color: var(--color-black);
  height: 40px;
  width: 90%;
  text-align: center;
  border-radius: var(--radius-lg);
  margin-top: 20px;
  cursor: pointer;
  transition: var(--transition-fast);
  text-decoration: none;
  border: none;
}

#buttonCreateCard:hover {
  background-color: var(--color-primary-dark);
}

@media (max-width: 1100px) {
  #formulario {
    width: var(--w-2-3);
    padding: var(--space-4);
  }

}

@media (max-width: 768px) {
  #formulario {
    width: var(--w-content);
    padding: var(--space-4);
  }

  .conteiner{
    margin-left: 0%;
  }
}
