.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: var(--width-navBar);
  text-align: center;
  transition: var(--transition-normal);
  height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90%;
  margin-top: 80px;
  justify-content: center;
  border: var(--border-medium);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);
  background-color: var(--background-contact);
}

#title {
  font-size: var(--font-4xl);
  font-weight: var(--font-bold);
  margin-top: var(--space-8);
  margin-bottom: var(--space-5);
  color: var(--color-primary);
}

#textHelpContact {
  width: 90%;
  transform: translateX(5%);
  margin-bottom: var(--space-12);
}

#formGroup {
  width: 90%;
  transform: translateX(5%);
  margin-bottom: var(--space-5);
  text-align: start;
}

#formGroup label {
  font-size: var(--font-sm);
  color: var(--text-light);
}

#name,
#email,
#message {
  width: var(--w-full);
  margin-bottom: var(--space-5);
  border-radius: var(--radius-md);
  border: none;
  text-decoration: none;
  background-color: var(--input-contact);
  color: var(--text-light);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--input-contact) inset !important;
  -webkit-text-fill-color: var(--text-light) !important;
  transition: background-color 5000s ease-in-out 0s;
}

#name,
#email {
  height: 40px;
}

#buttonSubmit {
  display: flex;
  background-color: var(--color-primary);
  font-weight: var(--font-medium);
  color: var(--text-color);
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: none;
  border-radius: var(--radius-md);
  margin-top: var(--space-8);
  cursor: pointer;
  transition: var(--transition-normal);
}

#buttonSubmit:hover {
  background-color: var(--color-primary-dark);
}

@media (max-width: 1100px) {
  #content {
    width: 70%;
  }
}

@media (max-width: 820px) {
  #content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  #content {
    width: 70%;
  }
  .container{
    padding-left: 0;
  }
}

@media (max-width: 500px) {
  #content {
    width: 80%;
  }
}
