.navigationContent {
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  max-width: 260px;
  min-width: 180px;

  width: var(--w-1-5);
  height: var(--h-full);
  box-shadow: var(--shadow-sm);
  background-color: var(--color-navbar);
  transition: var(--transition-normal);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: var(--space-20);
  height: var(--h-full);
  width: var(--w-full);
  border-right: 1px solid var(--color-border-navbar) ;
}

.nav-item {
  height: 40px;
  width: var(--w-full);
}

.nav-item a {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;

  font-weight: var(--font-medium);
  padding-left: var(--space-5);
  color: var(--color-black);
  height: var(--w-full);
  width: var(--h-full);
}

.nav-item:hover {
  cursor: pointer;

  background-color: var(--color-primary);
}

.imgNavBar{
  margin-right: var(--space-3);
  width: 25px;
  height: 25px;
}

.active {
  background-color: var(--color-active-primary);
  border: 1px solid var(--color-border-primary);
}

.mobileMenu {
  display: none;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 250px;

  background-color: var(--background-color-menu);
  z-index: var(--z-sticky);
  gap: var(--space-5);
  width: var(--w-full);
  transition: var(--transition-normal);
  box-shadow: var(--shadow-xs);
}

.mobileMenu a {
  text-decoration: none;
  font-weight: var(--font-medium);

  color: var(--color-black);
}

.mobileMenu.open {
  display: flex;
}

.mobileMenu.close {
  display: none;
}

#menuButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  z-index: 101;

  top: var(--space-2);
  right: var(--space-8);
  font-size: var(--font-3xl);
  color: white;
}

#menuButton.active{
  color: var(--color-white);
}

.logout-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;

  width: var(--w-screen);
  height: var(--h-screen);
  z-index: var(--z-max);
  backdrop-filter: var(--blur-sm);
}

.screenLogout {
  width: 320px;
  text-align: center;
  animation: pop 0.25s ease-out;

  border-radius: var(--space-3);
  padding: var(--space-5);
  background: var(--color-popup);
  box-shadow: var(--shadow-lg);
  border: 1px solid var(--color-border-logout);
}

@keyframes pop {
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.screenLogout h2 {
  margin-bottom: var(--space-5);
  font-size: var(--font-xl);
  font-weight: var(--font-medium);
  color: var(--color-black);
}

.logout-buttons {
  display: flex;
  justify-content: center;
  gap: var(--space-4);
}

.logout-buttons button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: var(--color-black);
  font-size: var(--font-md);
  transition: var(--transition-normal);
  border-radius: var(--radius-md);
}

.btn-yes {
  background-color: var(--color-danger);
}

.btn-yes:hover {
  background-color: #c0392b;
}

.btn-no {
  background-color: var(--text-muted);
  color: #2c3e50;
}

.btn-no:hover {
  background-color: #4e4e4e;
}

@media (max-width: 768px) {

  .navigationContent{
      display: none;
    }

  #content {
    display: none;
  }

  #menuButton {
    display: block;
  }

  .mobileMenu a {
    display: block;
    cursor: pointer;
  }

}

@media (min-width: 768px) {

  .mobileMenu {
    display: none !important;
  }

}
