.container {
  display: none;
  grid-template-columns: minmax(500px, 40%);
  justify-content: center;
  text-align: center;
  height: 80%;
  margin-left: 20%;
  transition: var(--transition-normal);
}

.container.open {
  display: grid;
}

.contentExternal {
  background-color: var(--background-contact);
  border: var(--border-medium);
  align-items: center;
  border-radius: var(--radius-lg);
  margin-top: 80px;
}

.contentExternal h1 {
  color: var(--color-titles);
  margin-top: 50px;
}

#formGroup {
  display: flex;
  flex-direction: column;
  padding: 40px;
  height: 100%;
}

#formGroup label {
  text-align: left;
}

#formGroup  input{
  padding: 10px;
  border: none;
  border-radius: var(--radius-md);
  margin-bottom: 20px;
  background-color: var(--input-contact);
  color: var(--text-light);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--input-contact) inset !important;
  -webkit-text-fill-color: var(--text-light) !important;
  transition: background-color 5000s ease-in-out 0s;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid var(--color-danger);
}

input.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
  border: 1px solid var(--color-success);
}

.error-message p {
  color: var(--color-danger);
  font-size: var(--font-xs);
  margin: -8px 0 10px 4px;
}

#formGroup button {
  background-color: var(--color-primary);
  color: var(--text-color);
  font-weight: var(--font-medium);
  padding: 12px 20px;
  border: none;
  border-radius: var(--radius-md);
  cursor: pointer;
  font-size: var(--font-md);
  transition: background-color 0.3s ease;
  margin-top: 90px;
}

#formGroup button:hover {
  background-color: var(--color-primary-dark);
}

@media (max-width: 767px) {
  .container {
    margin-left: 0;
    grid-template-columns: minmax(400px, 80%);
  }
}
